# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/.pnp
/frontend.pnp.js

# testing
/frontend/coverage

# next.js
/frontend/.next/
/out/

# production
/frontend/build

# misc
/frontend.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/frontend.env.local
/frontend.env.development.local
/frontend.env.test.local
/frontend.env.production.local

# loca db
db.sqlite3

# loca settings
/app/local_settings.py
.vscode
